<!doctype html>
  <html lang="en-US">
    <head>
      <link type="text/css" href="../public/css/style.css" rel="stylesheet"></link>
      <meta charset="UTF8"/>
      <meta name="description" content="todo list, tasker"/>
      <meta name="keywords" content="TODO-List"/>
      <meta name="viewpoint" content="width=device-width, inital-scale=1.0"/>
      <title>TODO</title>
      </head>
    <body>
      <!--Main content-->
        <!--Title and number of task-->
          <header>
						<div>
            	<h1>TODO-LIST</h1>
						</div>
						<div>
            	<h3 id="no-task"></h3>
						</div>
          </header>
        <!--Title and number of task-->
          <hr>
          <!--Add Task-->  
            <div>
              <input id="inputvalue" type="text" placeholder="Task be here"/>
              <button id="addtask">Add</button>
            </div>
            <!--Add Task-->
        <!--Title and number of task-->
        <!--TaskList-->
          <div>
            <ol id="tasklist">
              <li>meeting</li>
            </ol>
          </div>
        <!--TaskList-->
      <!--Main content-->
        <hr>
      <!--Contact-->
        <footer>
          <a href="https://discord.gg/HswZaneNjQ">Support</a>
          <br>
          <a href="https://discord.gg/HswZaneNjQ" >Discord</a>
          <br>
          <a href="https://discord.gg/HswZaneNjQ">Content us</a>
        </footer>
        <hr>
      <!--Contact-->
      <!--Link to jQuery and javascript file-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="../public/js/todo.js"></script>
      <!--Link to jQuery and javascript file-->
      </body>
  </html>